
<section id="instagram">
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="instagram-wrapper">
            <slider-insta-feed></slider-insta-feed>
            <div class="instagram-box">
                <div class="instagram-cta">
                <span class="instagram-title">Mary's Instagram</span><br/>
                <b>Follow</b> <span class="instagram-address"><a href="https://www.instagram.com/marys_tricks/">@marystricks</a></span>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>