.btn-arrow {
    @include btn-arrow(80px, $orange);
    &:hover {
        border: 2px solid $orange;
    }
    margin-top: 50px;
}

.btn-arrow.btn-arrow--wborder {
    @include btn-arrow(80px, $orange);
    border: 2px solid $orange;
    &:hover {
        border: 2px solid $orange;
    }
    margin-top: 50px;
}
