.logo {
    padding: 15px 0;
    width: 150px;
    height: auto;
}

@media screen and (min-width: 768px){
    .carousel-indicators {
        bottom: -50px;
    }
}

.carousel-indicators .active {
    background: $orange;
}

.carousel-indicators li {
    border-color: $black;
    background: $black;
    width: 8px;
    height: 8px;
    border-radius: 4px;
}

.carousel-indicators li.active {
    border-color: $orange;
    width: 9px;
    height: 9px;
    border-radius: 4px;
}
